@media screen and ( max-width:1410px  )
    
    
@media screen and ( max-width: 1330px )
    html
        font-size: 0.8rem
@media screen and ( max-width: 1215px )
    html
        font-size: 0.7rem
    .logo
        &__link
            margin-right: 0.5rem
    .section
        &-title
            &__heading
                font-size: 1.7rem
    .swiper
        &-slide            
            &__heading
                font-size: 14px
            &__value
                font-size: 14px
    
@media screen and ( max-width: 1200px )
    .nav
        &__item
            margin-right: 1rem
@media screen and ( max-width: 1100px )
    .swiper-slide
        &__text
            margin-right: 0
@media screen and ( max-width: 992px )
    .nav
        display: none
    .hero
        &__instagram
            display: none
        &__content
            margin-left: 0 
    .card
        &__title
            font-size: 1rem

    
@media screen and ( max-width: 810px )
    .row
        flex-direction: column
        align-items: center
    .col-50
        width: 100% 
        &__image
            margin-top: 2.0625rem 
    .swiper-slide
        &__text
            margin-right: -6rem  
            &--down
                margin-bottom: 0
                      
                
                
@media screen and ( max-width: 760px )
    
    .types
        &__card
            margin-bottom: 5rem 
    .card
        &__text
            margin-left: 0 
    .design
        &__paragraph
            font-size: 1.5rem
        &__card
            margin-bottom: 5rem 
    
       

@media screen and ( max-width: 570px )
    .contacts
        &__phone
            margin-right: 0
            color: $light
            border-bottom: none
        &__button
            display: none
    .title
        font-size: 1.64rem
    .hero        
        &__content
            display: flex
            flex-direction: column  
            align-items: center
            justify-content: start
            min-height: 100vh
            max-width: 22.86rem
            padding-top: 7rem
        &__text            
            font-size: 18px
            line-height: 24px
            margin-bottom: 2.28rem        
        &__button
            display: block
            min-width: 22.86rem
            margin-bottom: 1.85rem
        &__scroll-down
            display: none
    .title
        font-size: 23px
    .design
        &__paragraph
            font-size: 15px
            line-height: 22px
    .control
        &__button
            order: 2
        &__policy
            display: flex
            margin-left: -13px
            margin-top: -20px
            margin-bottom: 37px
        &__video
             max-width: 40rem
             min-height: 25rem   
        &__text
            font-size: 1.3rem
            margin-bottom: 26px
        &__input-group
            flex-basis: 100%
            margin-bottom: 63px
    .video
        background-size: cover 
        &__play
            width: 5rem
            height: 5rem    
@media screen and ( max-height: 550px  )
    .hero
        &__scroll-down
            display: none
@media screen and ( max-width: 515px)
    .swiper-slide
        &__text
            margin-right: -3rem  
    
@media screen and ( max-width: 480px )
    .control
        &__video
            max-width: 35rem
            min-height: 20rem
@media screen and ( max-width: 410px )
    .swiper-slide
        &__text
            margin-right: 0           
    
@media screen and ( max-width: 375px )
    .logo
        &__link
            font-size: 12px
    .contacts
        &__phone
            font-size: 12px
    .section
        &.controle
            background: #252525
            color: $light
            
    .control
        
        &__text
            font-size: 14px
            line-height: 24px
            &::before
                margin-bottom: 1.4rem   
        &__video
            margin-top: 40px
            margin-bottom: 2.2rem
            max-width: 340px
            min-height: 207px
        &-title
            font-size: 22px
            margin-bottom: 1.5rem
        &__policy
            margin-top: -2.9rem
            margin-bottom: 5.6rem
        &__input
            font-size: 18px
            line-height: 25px
            padding-top: 2px
            &-group
                margin-bottom: 5.1rem 
        &__button
            max-width: 340
            width: 100%  
    .label
        font-size: 15px
        line-height: 20px            
        
    .hero
        &__content
            max-width: 100%
        &__text
            margin-bottom: 32px
        &__button
            padding: 19px 70px
            margin-bottom: 26px
            width: 338px
    .projects
        &__heading
            font-size: 22px
            line-height: 30px
            margin-bottom: 22px
    .swiper-slide
        &__heading
            font-size: 14px
            margin-bottom: 11px
               
        &__value
            font-size: 14px
    .col-50
        &__image
            margin-top: 3rem 
            max-height: 30rem
    
    .swiper-wrapper
        &-image
            height: 202px  
    
    
        
    
    
    
    