@media screen and ( max-width:1410px  )
    
    
@media screen and ( max-width: 1330px )
    html
        font-size: 0.8rem
@media screen and ( max-width: 1215px )
    html
        font-size: 0.7rem
    .logo
        &__link
            margin-right: 0.5rem
    .section
        &-title
            &__heading
                font-size: 1.7rem
    .swiper
        &-slide
            &__heading
                font-size: 1rem
            &__value
                font-size: 1rem
    
@media screen and ( max-width: 1200px )
    .nav
        &__item
            margin-right: 1rem
@media screen and ( max-width: 992px )
    .nav
        display: none
    .hero
        &__instagram
            display: none
        &__content
            margin-left: 0 
    .card
        &__title
            font-size: 1rem
@media screen and ( max-width: 760px )
    .row
        flex-direction: column
        align-items: center
    .types
        &__card
            margin-bottom: 5rem 
    .card
        &__text
            margin-left: 0 
    .design
        &__paragraph
            font-size: 1.5rem
        &__card
            margin-bottom: 5rem 
    .col-50
        width: 100% 
        &__image
            margin-top: 2.0625rem
@media screen and ( max-width: 570px )
    .contacts
        &__phone
            margin-right: 0
            color: $light
            border-bottom: none
        &__button
            display: none
    .title
        font-size: 1.64rem
    .hero
        &__content
            max-width: 22.86rem
        &__text
            font-size: 1.29rem
            margin-bottom: 2.28rem
        &__button
            display: block
            min-width: 22.86rem
            margin-bottom: 1.85rem
        &__scroll-down
            display: none
    .design
        &__paragraph
            font-size: 15px
            line-height: 22px
    .control
        &__button
            order: 2
        &__policy
            display: flex
            margin-left: -13px
            margin-top: -20px
            margin-bottom: 37px
        &__video
             max-width: 40rem
             min-height: 25rem   
        &__text
            font-size: 1.3rem
            margin-bottom: 26px
        &__input-group
            flex-basis: 100%
            margin-bottom: 63px
    .video
        background-size: cover 
        &__play
            width: 5rem
            height: 5rem    
@media screen and ( max-height: 550px  )
    .hero
        &__scroll-down
            display: none
@media screen and ( max-width: 480px )
    .control
        &__video
            max-width: 35rem
            min-height: 20rem
               
    
@media screen and ( max-width: 370px )
    .logo
        &__link
            font-size: 12px
    .contacts
        &__phone
            font-size: 12px
    .control
        &__text
            font-size: 1rem
            line-height: 169.8%
        &__video
            max-width: 24.285rem
            min-height: 14.786rem
    
    
    
        
    
    
    
    